In [1]:
import pandas as pd
import faker
import random

fake = faker.Faker()

#Örnek veri seti
veri = {
    'İsim': ['Ahmet', 'Ayşe', 'Mehmet', 'Fatma', 'Ali', 'Osman', 'Hatice',
             'Süleyman', 'Samet', 'Yeliz', 'Selen', 'Mahsar', 'Fuat',
            'Özkan', 'Fatih', 'Alev', 'Nimet', 'Murat', 'Hadise', 'Fulya'],
    
    'Yaş': [35, 28, 42, 39, 78, 54, 62, 15, 24, 32, 44, 17, 36, 39, 50, 63, 29, 27, 16, 31],
    
    'Meslek': ['Mühendis', 'Doktor', 'Avukat', 'Öğretmen', 'Hemşire', 'Şöför', 'Öğretmen', 'Mühendis',
            'Şöför', 'Avukat', 'Bakkal', 'Doktor', 'Bakkal', 'Mühendis', 'Öğretmen',
            'Şöför', 'Hakim', 'Mühendis', 'Doktor', 'Temizlikçi']
}

# Veri setini DataFrame'e dönüştürme
df = pd.DataFrame(veri)

print(df)

        İsim  Yaş      Meslek
0      Ahmet   35    Mühendis
1       Ayşe   28      Doktor
2     Mehmet   42      Avukat
3      Fatma   39    Öğretmen
4        Ali   78     Hemşire
5      Osman   54       Şöför
6     Hatice   62    Öğretmen
7   Süleyman   15    Mühendis
8      Samet   24       Şöför
9      Yeliz   32      Avukat
10     Selen   44      Bakkal
11    Mahsar   17      Doktor
12      Fuat   36      Bakkal
13     Özkan   39    Mühendis
14     Fatih   50    Öğretmen
15      Alev   63       Şöför
16     Nimet   29       Hakim
17     Murat   27    Mühendis
18    Hadise   16      Doktor
19     Fulya   31  Temizlikçi

In [2]:
# Yaş bilgisini kategorik hale getirme
df['Yaş Aralığı'] = pd.cut(df['Yaş'], bins=[0, 18, 35, 50, 100], labels=['0-18', '19-35', '36-50', '50+'])

# Orjinal 'Yaş' sütununu veri setinden kaldırma
df.drop('Yaş', axis=1, inplace=True)

print(df)

        İsim      Meslek Yaş Aralığı
0      Ahmet    Mühendis       19-35
1       Ayşe      Doktor       19-35
2     Mehmet      Avukat       36-50
3      Fatma    Öğretmen       36-50
4        Ali     Hemşire         50+
5      Osman       Şöför         50+
6     Hatice    Öğretmen         50+
7   Süleyman    Mühendis        0-18
8      Samet       Şöför       19-35
9      Yeliz      Avukat       19-35
10     Selen      Bakkal       36-50
11    Mahsar      Doktor        0-18
12      Fuat      Bakkal       36-50
13     Özkan    Mühendis       36-50
14     Fatih    Öğretmen       36-50
15      Alev       Şöför         50+
16     Nimet       Hakim       19-35
17     Murat    Mühendis       19-35
18    Hadise      Doktor        0-18
19     Fulya  Temizlikçi       19-35

In [3]:
# Meslek bilgisini anonimleştirme
meslek_map = {
    'Mühendis': 'Teknik',
    'Doktor': 'Sağlık',
    'Hemşire': 'Sağlık',
    'Öğretmen': 'Eğitim',
    'Avukat': 'Hukuk',
    'Hakim': 'Hukuk',
    'Bakkal': 'Esnaf',
    'Şöför': 'Hizmet',
    'Temizlikçi': 'Hizmet'
}

df['Anonim Meslek'] = df['Meslek'].map(meslek_map)

# Orjinal 'Meslek' sütununu veri setinden kaldırma
df.drop('Meslek', axis=1, inplace=True)

print(df)

        İsim Yaş Aralığı Anonim Meslek
0      Ahmet       19-35        Teknik
1       Ayşe       19-35        Sağlık
2     Mehmet       36-50         Hukuk
3      Fatma       36-50        Eğitim
4        Ali         50+        Sağlık
5      Osman         50+        Hizmet
6     Hatice         50+        Eğitim
7   Süleyman        0-18        Teknik
8      Samet       19-35        Hizmet
9      Yeliz       19-35         Hukuk
10     Selen       36-50         Esnaf
11    Mahsar        0-18        Sağlık
12      Fuat       36-50         Esnaf
13     Özkan       36-50        Teknik
14     Fatih       36-50        Eğitim
15      Alev         50+        Hizmet
16     Nimet       19-35         Hukuk
17     Murat       19-35        Teknik
18    Hadise        0-18        Sağlık
19     Fulya       19-35        Hizmet

In [4]:
# İsimleri rastgele kimliklerle değiştirme
df['Anonim İsim'] = [fake.name() for _ in range(len(df))]

# Orjinal 'İsim' sütununu veri setinden kaldırma
df.drop('İsim', axis=1, inplace=True)

print(df)

   Yaş Aralığı Anonim Meslek            Anonim İsim
0        19-35        Teknik          Stacey Norton
1        19-35        Sağlık         Brian Williams
2        36-50         Hukuk         Brittany Meyer
3        36-50        Eğitim  Christopher Stevenson
4          50+        Sağlık         Sandra Mullins
5          50+        Hizmet         Raymond Wagner
6          50+        Eğitim         Vickie Holland
7         0-18        Teknik           Linda Barker
8        19-35        Hizmet        Valerie Griffin
9        19-35         Hukuk             Kurt Horne
10       36-50         Esnaf           George Young
11        0-18        Sağlık          Angela Ashley
12       36-50         Esnaf        Kristin Simpson
13       36-50        Teknik        Deborah Rowland
14       36-50        Eğitim            Dustin Wolf
15         50+        Hizmet           Eric Sanders
16       19-35         Hukuk          Brandon Smith
17       19-35        Teknik           Linda Lozano
18        0-18        Sağlık     Michelle Gutierrez
19       19-35        Hizmet            Carl Barnes

In [5]:
# Anonim isim değerlerinin harflerini rastgele hale getirecek bir fonksiyon tanımladık
def randomize_values(col_values):
    col_values_list = list(col_values) # Stringi listeye dönüştür
    random.shuffle(col_values_list)
    return ''.join(col_values_list) # Listeyi tekrardan stringe dönüştürdük

# Fonksiyonu istenen sütunlara uyguladık
column_to_randomize = 'Anonim İsim'
df[column_to_randomize].apply(randomize_values)

0             oncNSy eraott
1            almrnsWai Bili
2            nryeMrtyieBt a
3     orCspsSnthieen oevtrh
4            ndSrlsiMaa nlu
5             RmnoadnyregWa
6            iinaellVHcod k
7              rBadk rLaeni
8           fr ViGifnaeierl
9                runKH oert
10             n eugoYeGrgo
11            seAnlyglhaeA
12          niomsSitpKrs in
13           wbloaDorRdahne
14              fuDlsWn oit
15             EsarSidnec r
16             hrimSandtnBo
17              LinzdoLonaa
18        uizMeterlGeicelrh
19              l BraanseCr
Name: Anonim İsim, dtype: object

In [6]:
import string

# Tüm dataframe üstünde çalışan fonksiyonu tanımladık
def randomize_values(df):
    for column in df.columns:
        if df[column].dtype == 'O': # Sütunun object dtype sahip olup olmadığını kontrol ettik
            df[column] = [''.join(random.choices(string.ascii_letters + string.digits, 
            k=10)) for _ in range(len(df))] # Rastgele dizelerin bir listesini oluşturduk
    return df

# Fonksiyonu dataframe'e uyguladık
df_rand = randomize_values(df)

print(df_rand)

   Yaş Aralığı Anonim Meslek Anonim İsim
0        19-35    xvJkgbTJTp  PCjZWVsMPm
1        19-35    nYzsbi5Wjl  nMY6JMuvib
2        36-50    reeCX5b977  Dffh0RVsqO
3        36-50    TIjxNlDeDT  s9bZJeOdJs
4          50+    U1tgCl4YgS  h1iR3XoHPR
5          50+    BgmGNy3Qfc  kPTexv6IzF
6          50+    jBNcFhUm1R  uFwuRPP9Ho
7         0-18    Mzrk3zUtmw  az0wPKFJIv
8        19-35    h9TsHtpg6v  NNCefQC7Sl
9        19-35    m7JgooNuQs  pC6LrRVhW2
10       36-50    NnIJCjWe2n  7vGPO4UWzY
11        0-18    srn2PpL3bC  cHQibqSIkc
12       36-50    K1ySEl6ctW  S88IFO3ivZ
13       36-50    KcBPNkmSK7  o5Yvfsf4NE
14       36-50    AoFA5MK9EN  WQnnekrBgX
15         50+    6QRbMVmO9N  233Un6y8FH
16       19-35    H1RvjlzKH8  f0SkknP24d
17       19-35    ASl34b4xx9  CFqZdL7Tmx
18        0-18    srQ0pMNseu  Ud3jxCitt1
19       19-35    tN8xcCSfPm  L2cmzvSe3T